{{#unless isExpanded}}
<button{{action "toggleP1" on="mouseEnter"}}>Education</button>
{{else}}
    <p>{{education}}</p>
    <button {{action "toggleP1"}}>close</button>
{{/unless}}

{{#if isExpanded2}}
    <div>
        <p>{{career}}</p>
    </div>
<button {{action "toggleP2"}}>close</button>
{{else}}
    <button{{action "toggleP2"}}>Career</button>
{{/if}}

{{#if isExpanded3}}
    <div>
        <p>{{culture}}</p>
    </div>
<button {{action "toggleP3"}}>close</button>
{{else}}
    <button{{action "toggleP3"}}>Culture</button>
{{/if}}
